.butterfly-loader-hidden{
    display:none!important;
}
.butterfly-loader-wrap{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9999
}
.butterfly-loader-box{
    background:rgba(0,0,0,.8);
    border-radius:6px;
    padding:15px;
    position:absolute;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    top:50%;
    max-width:60%
}
.butterfly-loader-box p{
    text-align:center;
    color:#fff;
    padding-top:10px;
    margin:0;
    font-size:15px
}
.butterfly-loader-loading{
    width:32px;
    height:32px;
    margin:0 auto;
    position:relative;
    color:#fff;
    -webkit-animation:butterfly-loader 1.1s infinite step-start;
    animation:butterfly-loader 1.1s infinite step-start
}
.butterfly-loader-loading span{
    width:3px;
    height:8px;
    display:block;
    position:absolute;
    top:0;
    left:15px;
    background:#fff;
    border-radius:3px;
    -webkit-transform-origin:1px 16px;
    transform-origin:1px 16px
}@-webkit-keyframes butterfly-loader{
    0%,100%{
        -webkit-transform:rotateZ(0deg)
    }91.6%{
        -webkit-transform:rotateZ(-30deg)
    }83.3%{
        -webkit-transform:rotateZ(-60deg)
    }75%{
        -webkit-transform:rotateZ(-90deg)
    }66.6%{
        -webkit-transform:rotateZ(-120deg)
    }58.3%{
        -webkit-transform:rotateZ(-150deg)
    }50%{
        -webkit-transform:rotateZ(-180deg)
    }41.6%{
        -webkit-transform:rotateZ(-210deg)
    }33.3%{
        -webkit-transform:rotateZ(-240deg)
    }25%{-webkit-transform:rotateZ(-270deg)}16.6%{-webkit-transform:rotateZ(-300deg)}8.3%{-webkit-transform:rotateZ(-330deg)}}@keyframes butterfly-loader{0%,100%{transform:rotateZ(0deg)}91.6%{transform:rotateZ(-30deg)}83.3%{transform:rotateZ(-60deg)}75%{transform:rotateZ(-90deg)}66.6%{transform:rotateZ(-120deg)}58.3%{transform:rotateZ(-150deg)}50%{transform:rotateZ(-180deg)}41.6%{transform:rotateZ(-210deg)}33.3%{transform:rotateZ(-240deg)}25%{transform:rotateZ(-270deg)}16.6%{transform:rotateZ(-300deg)}8.3%{transform:rotateZ(-330deg)}}.buttrfly-loader-close{box-sizing:border-box;position:absolute;width:24px;height:24px;background:rgba(0,0,0,.75);border:5px solid transparent;border-radius:100%;right:-12px;top:-12px;-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg)}.buttrfly-loader-close:before{content:"";height:2px;width:100%;background:#fff;display:block;position:absolute;top:6px;left:0;border-radius:2px}.buttrfly-loader-close:after{content:"";height:100%;width:2px;background:#fff;display:block;position:absolute;top:0;left:6px;border-radius:2px} 
